[submodule "en"]
	path = public/content/en
	url = https://github.com/dlang-tour/english
[submodule "de"]
	path = public/content/de
	url = https://github.com/dlang-tour/german
[submodule "it"]
	path = public/content/it
	url = https://github.com/dlang-tour/italian
[submodule "sv"]
	path = public/content/sv
	url = https://github.com/dlang-tour/swedish
[submodule "ja"]
	path = public/content/ja
	url = https://github.com/dlang-tour/japanese
[submodule "tr"]
	path = public/content/tr
	url = https://github.com/dlang-tour/turkish
[submodule "zh"]
	path = public/content/zh
	url = https://github.com/dlang-tour/chinese
[submodule "ru"]
	path = public/content/ru
	url = https://github.com/dlang-tour/russian
[submodule "uk"]
	path = public/content/uk
	url = https://github.com/dlang-tour/ukrainian
[submodule "es"]
	path = public/content/es
	url = https://github.com/dlang-tour/spanish
[submodule "fr"]
	path = public/content/fr
	url = https://github.com/dlang-tour/french
[submodule "kr"]
	path = public/content/kr
	url = https://github.com/dlang-tour/korean
[submodule "sk"]
	path = public/content/sk
	url = https://github.com/dlang-tour/slovak
[submodule "mir"]
	path = public/content/mir
	url = https://github.com/dlang-tour/mir
[submodule "vi"]
	path = public/content/vi
	url = https://github.com/dlang-tour/vietnamese
[submodule "pt-br"]
	path = public/content/pt-br
	url = https://github.com/dlang-tour/brazilian-portuguese
[submodule "pt"]
	path = public/content/pt
	url = https://github.com/dlang-tour/portuguese
