[submodule "public/content/en"]
	path = public/content/en
	url = https://github.com/dlang-tour/english
[submodule "public/content/de"]
	path = public/content/de
	url = https://github.com/dlang-tour/german
[submodule "public/content/it"]
	path = public/content/it
	url = https://github.com/dlang-tour/italian
[submodule "public/content/sv"]
	path = public/content/sv
	url = https://github.com/dlang-tour/swedish
[submodule "public/content/ja"]
	path = public/content/ja
	url = https://github.com/dlang-tour/japanese
[submodule "public/content/tr"]
	path = public/content/tr
	url = https://github.com/dlang-tour/turkish
[submodule "public/content/zh"]
	path = public/content/zh
	url = https://github.com/dlang-tour/chinese
[submodule "public/content/ru"]
	path = public/content/ru
	url = https://github.com/dlang-tour/russian
[submodule "public/content/uk"]
	path = public/content/uk
	url = https://github.com/dlang-tour/ukrainian
