[submodule "public/content/en"]
	path = public/content/en
	url = https://github.com/dlang-tour/english
[submodule "public/content/de"]
	path = public/content/de
	url = https://github.com/dlang-tour/german
[submodule "public/content/it"]
	path = public/content/it
	url = https://github.com/dlang-tour/italian
[submodule "public/content/sv"]
	path = public/content/sv
	url = https://github.com/dlang-tour/swedish
[submodule "public/content/ja"]
	path = public/content/ja
	url = https://github.com/dlang-tour/japanese
