sudo: required

language: d

services:
  - docker

d:
  - dmd
  - dmd-beta
  - dmd-nightly
  - ldc
  - ldc-beta

matrix:
  allow_failures:
   - d: dmd-nightly
   - d: ldc-beta

cache:
  - $HOME/.dub

branches:
  only:
    - master

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libevent-dev

script:
  # Update all language repos to their latest content
  - git pull --recurse-submodules
  - git submodule update --remote --recursive
  # Compile & test with DMD
  - if [[ "${DC}" == "dmd" ]]; then  dub test --compiler=${DC};             fi
  - if [[ "${DC}" == "dmd" ]]; then  dub --compiler=${DC} -- --sanitycheck; fi
  # Compile to static binary with ldc
  - if [[ "${DC}" == "ldc2" ]]; then  dub build -c static --compiler=${DC}; fi
  - if [[ "${DC}" == "ldc2" ]]; then docker build -t stonemaster/dlang-tour . ; fi
  - if [[ "${DC}" == "ldc2" ]]; then docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -ti stonemaster/dlang-tour --sanitycheck ; fi

after_success:
  - if [[ "${DC}" == "ldc2" && "${TRAVIS_BRANCH}" == "master" && "${TRAVIS_PULL_REQUEST}" == "false" ]]; then docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"; fi
  - if [[ "${DC}" == "ldc2" && "${TRAVIS_BRANCH}" == "master" && "${TRAVIS_PULL_REQUEST}" == "false" ]]; then docker push stonemaster/dlang-tour       ; fi
  - if [[ "${DC}" == "ldc2" && "${TRAVIS_BRANCH}" == "testing" ]]; then docker push stonemaster/dlang-tour:testing       ; fi
