sudo: required

language: d

services:
  - docker

d:
  - dmd
  - dmd-beta
  - dmd-nightly
  - ldc
  - ldc-beta
  # used to build the release application
  - ldc-1.3.0-beta2

cache:
  - $HOME/.dub

branches:
  only:
    - master
    - testing

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libevent-dev

script:
  # Update all language repos to their latest content
  - git pull --recurse-submodules
  - git submodule update --remote --recursive
  # Compile & test with all compilers
  # https://issues.dlang.org/show_bug.cgi?id=13742 + separate linking not implemented for LDC
  - if [[ "${DC}" == "dmd" ]]; then  dub test --compiler=${DC} --build=unittest-cov --build-mode=singleFile ; else dub test --compiler=${DC} ; fi
  - dub --compiler=${DC} -- --sanitycheck
  # Compile to static binary with ldc
  - if [[ "${DC}" == "ldc2" ]]; then  dub build -c static --compiler=${DC}; fi
  - if [[ "${DC}" == "ldc2" ]]; then docker build -t stonemaster/dlang-tour . ; fi
  - if [[ "${DC}" == "ldc2" ]]; then docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -ti stonemaster/dlang-tour --wait-until-pulled --sanitycheck ; fi

after_success:
  - if [[ "${DC}" == "ldc2" && "$(ldc2 --version | head -n1 | sed -E 's/.*\((.*)\).*/\1/')" == "1.3.0-beta2" && "${TRAVIS_BRANCH}" == "master" && "${TRAVIS_PULL_REQUEST}" == "false" ]]; then docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"; fi
  - if [[ "${DC}" == "ldc2" && "$(ldc2 --version | head -n1 | sed -E 's/.*\((.*)\).*/\1/')" == "1.3.0-beta2" && "${TRAVIS_BRANCH}" == "master" && "${TRAVIS_PULL_REQUEST}" == "false" ]]; then docker push stonemaster/dlang-tour       ; fi
  - bash <(curl -s https://codecov.io/bash)
