.ansi-black-fg { color: black; }
.ansi-red-fg { color: red; }
.ansi-green-fg { color: green; }
.ansi-yellow-fg { color: yellow; }
.ansi-blue-fg { color: blue; }
.ansi-magenta-fg { color: magenta; }
.ansi-cyan-fg { color: cyan; }
.ansi-white-fg { color: white; }
.ansi-bright-black-fg { color: black; }
.ansi-bright-red-fg { color: red; }
.ansi-bright-green-fg { color: green; }
.ansi-bright-yellow-fg { color: yellow; }
.ansi-bright-blue-fg { color: blue; }
.ansi-bright-magenta-fg { color: magenta; }
.ansi-bright-cyan-fg { color: cyan; }
.ansi-bright-white-fg { color: black; font-weight: bold; }
