body {
	font-family: "Roboto Slab",sans-serif;
	margin: 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.navbar-bottom {
  color: black;
  background-color: white;
  border-top: 1px solid #b03931;
}

.navbar-bottom .small {
  color: #333;
}

.navbar-bottom a {
  color: #aaa;
}

.navbar-bottom a:hover {
  text-decoration: none;
}

#title {
    display: inline-block;
    height: 100%;
    padding: 0.6em 1em;
    position: relative;
    white-space: nowrap;
    margin-right: 5em;
}

@media only screen and (max-width: 66em) {
    #title {
        margin-right: 0em;
    }
    body #top .logo > a {
        margin-left: -4em;
    }
}

@media only screen and (max-width: 66em)
{
    #github_avatar {
        display: none;
    }
}
#github_avatar {
    float: right;
}
.ng-cloak {
    display: none !important;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

button, input, optgroup, select {
    font: inherit;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}
.text-muted {
    color: #777;
}
.text-right {
    text-align: right;
}
.h1, h1 {
    font-size: 36px;
}
.h2, h2 {
    font-size: 30px;
}
.h3, h3 {
    font-size: 24px;
}
.h4, h4 {
    font-size: 18px;
}
a {
    text-decoration: none;
}
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}
img {
    vertical-align: middle;
    border: 0;
}
