body {
	font-family: "Roboto Slab",sans-serif;
}

.navbar-bottom {
  color: black;
  background-color: white;
  border-top: 1px solid #b03931;
}

.navbar-bottom .small {
  color: #333;
}

.navbar-bottom a {
  color: #aaa;
}

.navbar-bottom a:hover {
  text-decoration: none;
}

#title {
    display: inline-block;
    height: 100%;
    padding: 0.6em 1em;
    position: relative;
    white-space: nowrap;
    margin-right: 5em;
}

@media only screen and (max-width: 66em) {
    #title {
        margin-right: 0em;
    }
    #top .logo > a {
        margin-left: -4em;
    }
}

@media only screen and (max-width: 66em)
{
    #github_avatar {
        display: none;
    }
}
#github_avatar {
    float: right;
}
.ng-cloak {
    display: none !important;
}
