.copy-btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

.clippy {
	margin-top: -3px;
    position: relative;
	top: 3px;
}

.editor-btn-container {
	display: inline-block;
}

.editor-btn-container input, .editor-btn-container select {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 14px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.editor-btn-container select {
	/*The last element All compilers is quite long. Cut so that all other elements
	are still visible */
	width: 125px;
}

#add-library {
	display: inline-block;
}

#add-library-select {
	display: block;
	position: absolute;
	z-index: 2;
	margin-top: -35px;
	opacity: 0;
	width: 115px;
	height: 34px;
}

#editor-right-group {
	text-align: right;
}

@media only screen and (min-width: 700px) {
	#command-box {
		display: flex;
		justify-content: space-between;
	}
}
