#top {
	left: 0;
	top: 0;
	display: inline-block;
	overflow-y: auto;
    overflow-x: hidden;
}

#top #cssmenu > ul > li {
	 float: none;
}

body .row {
	display: inline-block;
	position: absolute;
}

#top #cssmenu .expand-container.active > * {
	display: block;
}

#top #cssmenu > ul > li > ul {
	position: inherit;
	border: none;
	background: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}


#top > .helper {
	 padding-left: 5px;
	 padding-right: 5px;
}

#top a:hover, #top #cssmenu li.open > a, #top #cssmenu li.active > a {
	 background: inherit;
}

.expand-content li {
	padding-left: 5px;
}


@media only screen and (min-width:54.01em)
{
	#top {
		height: 99vh;
		width: 250px;
	}
    body .row {
        width: calc(100% - 250px);
    }
	#tour-content {
	    height: calc(100vh - 52px);
	    overflow-y: auto;
	}

	#tour-code {
	    height: calc(100vh - 52px);
	    overflow-y: auto;
	}
}

@media only screen and (max-width:54em)
{
	#top {
		position: absolute;
		z-index: 3;
	}
	#tour-content {
		padding-top: 15px
	}
	#top a.hamburger {
		margin: 0.15em;
	}
}

.navbar .h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
