#program-output {
	font-family: monospace;
	border: none;
	background-color: #efefef;
}

#tour-content {
	background-color: #efefef;
	font-size: 16px;
}

#tour-content h1 {
	font-weight: normal;
}
#tour-content h2 {
	font-weight: normal;
}
#tour-content h3 {
	font-weight: normal;
}

#command-box {
	padding: 10px;
}

.content-command-box {
	float: right;
	text-align: right;
	margin-top: 10px;
}

.program-output-title {
	font-family: monospace;
}

.CodeMirror {
	height: auto;
}

/* Custom .row for bootstrap */
.row {
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
}

pre.prettyprint {
	border: 1px solid #ccc;
	margin-bottom: 0;
	padding: 9.5px;
}
